@if (property) {
<div class="details-container">
    <div class="header">
        <img [src]="getImageUrl(property)" alt="Property Image" class="property-image" />
        <button class="close-button" (click)="close()">
            <span>&times;</span>
        </button>
    </div>

    <div class="content">
        <h2 class="title">{{ property.title }}</h2>
        <p class="category-badge">
            {{ property.category === 'FOR_RENT' ? 'For Rent' : 'For Sale' }}
        </p>
        <p class="subtle"><strong>Type:</strong> {{ property.type }}</p>
        <p class="subtle"><strong>Address:</strong> {{ property.address }}</p>
        <p class="description">{{ property.description }}</p>

        <div class="details-grid">
            <div><strong>Rooms</strong>
                <p>{{ property.numberOfRooms }}</p>
            </div>
            <div><strong>Floor</strong>
                <p>{{ property.floor ?? 'N/A' }}</p>
            </div>
            <div><strong>Size</strong>
                <p>{{ property.squareMeters }} m²</p>
            </div>
            <div><strong>Heating</strong>
                <p>{{ property.heating }}</p>
            </div>
            <div><strong>Elevator</strong>
                <p>{{ property.elevator ? 'Yes' : 'No' }}</p>
            </div>
            <div><strong>Balcony</strong>
                <p>{{ property.balcony ? 'Yes' : 'No' }}</p>
            </div>
            <div><strong>Parking</strong>
                <p>{{ property.parking ? 'Yes' : 'No' }}</p>
            </div>
            <div><strong>WiFi</strong>
                <p>{{ property.wifi ? 'Yes' : 'No' }}</p>
            </div>
        </div>

        <div class="contact">
            <strong>Contact: </strong>
            <a [href]="'tel:' + property.contactNumber">{{ property.contactNumber }}</a>
        </div>
    </div>
</div>
}