form {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.5em;
  
  h3 {
    grid-column: 1/-1;
    margin: 1em 0 0.5em;
  }

  p {
    align-self: center;
  }

  & > p {
    margin-bottom: 1em;
  }
  
  .perks {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0.5em;
    grid-column: 1/-1;
  
  
    .slider {
      position: relative;
  
      .slider-value {
        position: absolute;
        top: -0.5em;
        right: 0;
      }
  
      mat-slider {
        width: 100%;
      }
    }
  }

  button {
    grid-column: 1/-1;
    margin-top: 1em;
    justify-self: right;
    padding: 0.5em 2.5em;
  }
  
  mat-form-field input {
    font-size: 0.8em !important;
    font-weight: 400;
  }

  mat-form-field ::placeholder {
    font-size: 14px !important;
  }

  mat-form-field mat-label {
    font-size: 10px;
  }
}
