<h2>User Preferences</h2>
@if (form) {
  <form [formGroup]="form" (ngSubmit)="submitPreferences()">
    <h3 class="span-row">Radius Preference</h3>
    <p class="radius-label">Search Radius (m)</p>
    <mat-form-field appearance="outline" class="radius-input">
      <input matInput type="number" formControlName="radius" />
    </mat-form-field>
   
    <hr class="span-row">
    
    <h3>Weight Balance</h3>
    <div class="balance-slider">
      <div class="labels">
        <div class="weight">
          <span>Property Price</span>
          <span>{{ form.get('propertyPricePerkWeightsBalance')?.value | number:'1.2-2' }}</span>
        </div>
        <div class="weight">
          <span>Perks</span>
          <span>{{ (1- form.get('propertyPricePerkWeightsBalance')?.value) | number:'1.2-2' }}</span>
        </div>
      </div>
      <mat-slider
      formControlName="propertyPricePerkWeightsBalance"
      min="0"
      max="1"
      step="0.05"
      discrete
      >
      <input matSliderThumb>
    </mat-slider>
    </div>
  
    <hr class="span-row">
    <h3>Perk Preferences</h3>
    <div formGroupName="perks" class="perks">
      @for (perk of categories(); track $index) {
        <p>{{ perk | capitalize }}</p>
        <div class="slider">
          <mat-slider min="0" max="1" step="0.1" discrete="">
            <span class="slider-value">{{ sliderThumb.value | number:'1.1-1' }}</span>
            <input
            [formControlName]="perk"
            matSliderThumb
            #sliderThumb="matSliderThumb">
          </mat-slider>
        </div>
      }
    </div>
   
    <button mat-raised-button color="primary" type="submit">
      Save Preferences
    </button>
  </form>
}