<div class="categories-icons">
    @for (perkType of categories(); track $index) {
    <div class="icon">
        @if (expanded()) {
        <p>{{perkType.name | capitalize}}</p>
        }
        <input
            type="checkbox"
            [id]="perkType.id"
            [title]="perkType.name | capitalize"
            [checked]="isChecked(perkType.name)"
            (change)="toggleCategory(perkType.name, $event)"
            >
        <img [src]="perkType.iconImageId | imageUrl" [alt]="perkType">
    </div>
    }
</div>
