@use "@angular/material" as mat;

:root {
  $primary-text-color: #20232e;
  $secondary-text-color: #f7f7f7;
  $heading-font-size: 2rem;
  $body-font-size: 1rem;
}

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  color-scheme: light;

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
  transition: filter 0.2s ease;

  &:hover {
    filter: brightness(2.5);
  }
}
