<div class="sidebar-container">
    <button class="toggle-btn" (click)="toggle()">
    <mat-icon>
        {{ expanded() ? 'arrow_forward' : 'arrow_back' }}
    </mat-icon>
    </button>
    <div class="icons">
        <a
          [routerLink]="profileRoute()"
          [title]="user() != null ? 'Profile' : 'Login'"
          class="icon profile-icon">
          @if (expanded()) {
            <span>{{ user() != null ? 'Profile' : 'Login' }}</span>
          }
          <mat-icon>person</mat-icon>
        </a>
        <categories-filter
            [categories]="categories()"
            [expanded]="expanded()"
            (selectionChange)="onCategoriesSelected($event)">
        ></categories-filter>

        <a [routerLink]="settingsRoute()" class="icon settings-icon" title="Settings">
            @if (expanded()) {
                <p>Settings</p>
            }
            <mat-icon>settings</mat-icon>
        </a>
    </div>
</div>
