@if (showDialog && area() && area()?.radius != 0) {
  <div class="container">
    <button class="close-button" (click)="close()">
      <span>&times;</span>
    </button>

    @if (!statistics) {
      <div class="score-btn-wrapper">
        <button class="calculate-button" (click)="calculateStatistics()">
          Calculate Home Radar Score
        </button>
      </div>
    }

     @if (statistics) {
      <div class="score-result-wrapper">
        <p>
          Average price for property rent is <strong>{{ statistics.averageRentPrice | number:'1.0-0' }} €</strong> ({{ statistics.averageRentSize | number:'1.0-0'}} m² average),
          with a score of <strong [ngClass]="getScoreClass(statistics.rentScore)">{{ statistics.rentScore | number:'1.1-1' }}</strong>
        </p>
        <p>
          Average price for property sale: <strong>{{ statistics.averageSalePrice| number:'1.0-0' }} €</strong> ({{ statistics.averageSaleSize | number:'1.0-0'}} m² average),
          with a score of <strong [ngClass]="getScoreClass(statistics.saleScore)">{{ statistics.saleScore | number:'1.1-1' }}</strong>
        </p>

        <div class="perk-grid">
          @for (perk of statistics.perkCounts; track $index) {
            <div class="perk-item">
              <img [src]="perk.perkType.iconImageId | imageUrl" [alt]="perk.perkType">
              {{ perk.perkType.name | capitalize }}: {{ perk.count }}
            </div>
          }
        </div>
      </div>
    }
  </div>
}
