.container {
  width: 35em;
  position: relative;
  padding: 1.25em 1em 1em;
  background: rgba(235, 251, 254, 0.7);
  backdrop-filter: blur(0.5em);
  -webkit-backdrop-filter: blur(0.5em);
  border-radius: 0.75em;
  box-shadow: 0 0.25em 0.75em rgba(0,0,0,0.15);
  
  .score-btn-wrapper {
    display: flex;
    justify-content: center;
  }

  .calculate-button {
    padding: 0.5em 1.5em;
    border: none;
    border-radius: 0.5em;
    background: #20232e;
    color: #f7f7f7;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close-button {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    background: #fff;
    border: none;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .score-result {
    margin-top: 1.25em;
    padding: 0.75em;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 0.5em;
    text-align: center;
  }
  
  .score-red {
    color: #b30000;
  }
  
  .score-yellow {
    color: #856404;
  }
  
  .score-dark-green {
    color: #155724;
  }
  
  .score-bright-green {
    color: #0f5132;
  }
  
  .score-result-wrapper {
    margin-top: 0.5em;
    
    p {
      text-align: center;
    }
  
    .perk-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0.5em;
      margin-top: 10px;
      
      .perk-item {
        background-color: #dedede;
        padding: 0.3em 0.5em;
        border-radius: 4px;
        font-size: 0.85rem;
        text-align: center;
        height: 2.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        
        img {
          height: 100%;
        }
      }
    }
  }

}  

