$primary-text-color: #20232e;
$secondary-text-color: #f7f7f7;

$purple-600: #8888a8;
$purple-200: #e8ddf3;
$purple-100: #f6eefc;

$grey-600: #a3a3a3;

$heading-font-size: 2rem;
$subheading-font-size: 1.5rem;
$body-font-size: 1rem;
