.container {
    position: relative;
    background-color: #20232e;
}

.map-container {
    height: 100vh;
}

.search-container {
    position: absolute;
    top: 5em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
}

.sidebar-container {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    z-index: 11;
}