.container {
    position: relative;
    background-color: #20232e;
}

.map-container {
    height: 100vh;
}

.horizontally-centered-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
}

.search-container {
    top: 5em;
}

.home-radar-score-container {
    bottom: 3em;
}

.sidebar-container {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    z-index: 11;
    transition: width 1.2s ease-in-out;
}
