.container {
    position: relative;
}

.map-container {
    height: 100vh;
}

.search-container {
    position: absolute;
    top: 5em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
}