<div class="container">
    <div class="search-container">
        <search
            [areas]="areas()"
            (onSearch)="handleSearch()"
        ></search>
    </div>
    <div class="map-container">
        <map-component 
            [properties]="properties()"
            [perks]="perks()"
            (selectedProperty)="handlePropertyClick($event)">
        </map-component>
    </div>
    <div class="sidebar-container">
        <sidebar
            [categories]="categories()"
        ></sidebar>
        <property-details
            [property]="selectedProperty"
            (closePopup)="selectedProperty = undefined"
        ></property-details>
    </div>
</div>