<div class="search-container">
  <div class="input-wrapper">
    <input type="text" placeholder="Search for title..." />
    <button type="button" class="search-button">
        <mat-icon class="icon">search</mat-icon>
    </button>
    </div>
  <select class="area-dropdown">
    <option value="">Select area</option>
    <option value="kisela-voda">Kisela Voda</option>
    <option value="aerodrom">Aerodrom</option>
    <option value="karpos">Karpoš</option>
    <option value="centar">Centar</option>
    <option value="gazi-baba">Gazi Baba</option>
    <option value="chair">Čair</option>
    <!-- add more areas here -->
  </select>
</div>
